@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,800;1,100;1,200;1,300;1,500;1,600&display=swap');

html,
body{
  font-family: 'Poppins', sans-serif;
}
#root,
.app{
  height:100%;
  width: 100%;
  
}
.department-input[title] {
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.department-input[title]::after {
  content: attr(title);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 100%;
  white-space: normal;
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  z-index: 1;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}
